<h1> Home Page</h1>

<div>

    <p>
        
GitHub
https://github.com › angular › angular-cli › issues
10 May 2016 — I manually created a folder (via right-click > add folder) but when things are put into it like a styles.css file, it was ignored. Even if I spelled out a complete path to it. How do I create it so it's properly recognized for use?
Discussions and forums
"ng new ..." command doesn't create an assets folder automatically and ...

Stack Overflow · 
1 answer
 · 
1 year ago
 · 
When I create a new angular project, there is assets folder. I don't know why you don't have it. The img tag in HTML looks correct. Make sure the ass...  
More
Is there a better way to include the assets from an angular third party ...

Reddit · 
r/Angular2
 · 
4 comments
 · 
2 years ago
    </p>

</div>